<h1>Proyecto de DataTable</h1>
<div class="content-wrapper table-responsive">

  <!-- Contenerdor para el modal -->
  <div id="modalContainer1"></div>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2 ">
        <div class="col-sm-6">
          <!---Encabezado del dashboard -->
          <h1>Paciente</h1>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 mt-3"> 
                <a class="btn btn-success" href="#" role="button">Agregar</a>
              </div> 
            </div>    
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered" style="color:#2fb1b1">
    <thead>
        <tr>    
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Nombres</th>
          <th>Sexo </th>
          <th>Edad </th>        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pacientes of paciente">     
          <td>{{ pacientes.apellido_pat }}</td>
          <td>{{ pacientes.apellido_mat }}</td>
          <td>{{ pacientes.nombre }}</td>
          <td>{{ pacientes.sexo }}</td>
          <td>{{ pacientes.edad }}</td>      
        </tr>
      </tbody>
    </table>
</section>
  
  
    
